<div id='footer-container'>
  <div class="container">
    <div id="lc_footer" class="row">
      <div id="watzek-footer-links">
        <a href="http://geo.lclark.edu/submit/admin" target="_blank">Submit</a> |
        <a href="http://lclark.edu" target="_blank">Lewis & Clark College</a> |
        <a href="http://library.lclark.edu" target="_blank">Watzek Library</a>
      </div>
    </div>
  </div>
</div>
